[submodule "vendor/node-websocket-server"]
	path = vendor/node-websocket-server
	url = http://github.com/miksago/node-websocket-server.git
[submodule "vendor/redis-node-client"]
	path = vendor/redis-node-client
	url = http://github.com/fictorial/redis-node-client.git

[submodule "vendor/express"]
	path = vendor/express
	url = http://github.com/visionmedia/express.git
