<div id="wrapper">
	
		<div id="content">
      <div id="toolbar">
        <ul>
          <li id="pad_title">New Testing Pad (<em>JavaScript</em>)</li>
          <li id="tb_download" class="button"><a href="#">Download</a></li>
          <li id="tb_open" class="button"><a href="#">Versions</a></li>
          <li id="tb_save" class="button"><a href="#">Snapshot</a></li>
          <li id="tb_playback" class="button"><a href="#">Playback</a></li>
        </ul>
      </div>
      <div id="codearea">
        <ol id="editable_content" contenteditable="true">
          <li>ALICE was beginning to get very tired of sitting by her sister on the bank and of having nothing to do:</li>
          <li>once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, </li>
          <li>"and what is the use of a book," thought Alice, "without pictures or conversations?' </li>
          <li></li>
          <li>So she was considering, in her own mind (as well as she could, for the hot day made her feel very sleepy and stupid),</li>
          <li>whether the pleasure of making a daisy-chain would be worth the trouble of getting up and picking the daisies,
          <li>when suddenly a White Rabbit with pink eyes ran close by her.</li>
        </ol>
      </div>
		</div><!-- /content -->

	</div><!-- /wrapper -->

	<div id="sidebar">
		<ul class="menu"> 
      <li><h4 class="section_title">Users <a id="add_contact" href="#"><img src="/public/images/add_contact_icon.png" alt="Add Contact"/></a></h4>
        <ul id="users_list"> 
        </ul>
      </li>

      <li id="chat_section">
      <h4 class="section_title">Chat <a href="#" id="chat_sound_control"><img src="/public/images/chat_sound_icon.png" alt="Sound On"/></a></h4>
      <audio id="chat_alert_sound" src="http://www.pacdv.com/sounds/interface_sound_effects/sound99.wav" autobuffer></audio>
        <ul id="chat_messages"> 
          <li class="datestamp">28 March 2010</li>
        </ul>
        <form>
          <textarea rows="1" id="input_chat_message"></textarea>
        </form>
      </li>
		</ul>
	</div>

	<div id="extra">
	</div>
