/*
-----------------------------------------------------------
Vesess - http://vesess.com
Main Stylesheet

Basic styling : initial.css
IE Hacks      : ie_hacks.css

----------------------------------------------------------- */

body { font-size: 100%; color: #333; background: url(../images/body_bk.png) #F0F0F0 repeat-x top left; font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; }

a, a:link { color: #235C96; }
a:visited { color: #5190D6; }
a:hover { color: #1B3A4B; text-decoration: none; }
a img { border: 0; }

h1, h2, h3, h4 { font-weight: normal; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; font-weight: bold; }
h5 { font-size: 90%; }
h6 { font-size: 80%; text-transform: uppercase; font-weight: normal; }
code, kbd { font-size: 120%; }
hr { height: 1px; border: #BFDCA0 1px solid; background-color: #BFDCA0; }
dt { font-weight: bold; }

/* Helper classes */
.hide { display: none; }
.hidden { visibility: hidden; }
.clear { clear: both; }
.hidden { display: none; }
hr.hidden { margin: 0; padding: 0; border: 0; height: 1px; }
span.explain { border-bottom: #111 1px dotted; }
hr.separator { margin: 1em 0 0 0;  height: 1px; border: #FFF 1px solid; background-color: #FFF; clear:both; }
.align_right { text-align: right; }
.margin_top { margin-top: 1em; }
.margin_bottom { margin-bottom: 1em; }
.no_margin_top { margin-top: 0; }
.no_margin_bottom { margin-bottom: 0; }

div#container { }
	div#header { position: relative; height: 31px; }
		div#logo { position: absolute; top: 5px; }
		div#logo a { font-size: 15px; color: #FFF; font-weight: bold; text-decoration: none; }
		ul#status { margin: 0; position: absolute; top: 5px; right: 0; }
		ul#status li { float: left; list-style: none; color: #E1EFFB; font-size: 11px; }
		ul#status li a { color: #E1EFFB; text-decoration: none; }
			ul#status li a:hover { color: #FFF; text-decoration: underline; }
		
	div#wrapper { }
	div#content { margin: 20px 20px 0 0; padding: 0; border: 1px solid #E1E1E1; background-color: #FFF; min-height: 560px; -webkit-box-shadow: 3px 5px 10px #ccc; -moz-box-shadow: 3px 5px 10px #ccc; }
		div#content h2 { margin-top: 0; padding: 12px 15px; color: #333; font-weight: bold; font-size: 20px; border: 1px solid #E1EFFB; background-color: #F2F8FD; }
		div.heading h2 span { font-size: 20px; color: #999; font-weight: bold; }
		div#content h3 { margin-bottom: 0; color: #235C96; font-weight: bold; font-size: 15px; }
		div#content p.description { margin-bottom: 0; }

    div#toolbar { z-index: 1000; position: absolute; background-color: #ECECEC; -webkit-box-shadow: 0 0 2px #ccc; -moz-box-shadow: 0 0 2px #ccc; padding: 1px 10px 0; width: 718px; font-size: 75%; }
    div#toolbar ul {margin: 0;}
    div#toolbar ul li {margin: 0; list-style: none; float: left;}
    div#toolbar ul li#pad_title {width: 40%;}
    div#toolbar ul li.button {float: right; border-left: 1px solid #CCC; padding: 0 5px 0 25px; margin-left: 5px; }
    div#toolbar ul li.button a { text-decoration: none; color: #1B3A4B; }

    div#toolbar ul li#tb_playback { background: url(../images/play_icon.png) no-repeat left center;}
    div#toolbar ul li#tb_save { background: url(../images/save_snapshot_icon.png) no-repeat left center;}
    div#toolbar ul li#tb_open { background: url(../images/open_snapshot_icon.png) no-repeat left center;}
    div#toolbar ul li#tb_download { background: url(../images/download_pad_icon.png) no-repeat left center;}

	div#sidebar { margin-top: 5px; }
		ul.menu { margin: 0; }
			ul.menu li { margin: 0; list-style: none; font-size: 15px;  }
      ul.menu li h4.section_title { margin-bottom: 0.5em; }
			ul.menu li a { padding: 10px; display: block; text-decoration: none; }
			ul.menu li a.active { color: #333; }
			ul.menu li a:hover { color: #333; }
			ul.menu a:visited { color: #235C96; }

		ul.menu ul { margin: 0; padding: 10px 0; background-color: #FCFCFC; border: 1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px;  }
		ul.menu ul li { margin: 5px; background: none; font-size: 12px; font-weight: normal; }
    ul.menu ul li span.user_name { padding-bottom: 5px;}
    ul.menu ul li span.user_color { padding: 1px 5px; margin: 0 10px;}
    ul.menu ul#users_list { height: 175px; overflow: auto;}
    a#add_contact { float: right; padding:0; margin:0; }
    a#add_contact img { vertical-align: middle; }

    a#chat_sound_control { float: right;  padding:0; margin:0;}
    a#chat_sound_control { vertical-align: middle; }

    ul.menu ul#chat_messages { height: 175px; overflow: auto;}
    ul.menu ul#chat_messages li { padding: 0px 10px; font-size: 75%;}
    ul.menu ul#chat_messages li.datestamp { color: #c4c4c4;}
    ul.menu ul#chat_messages li.chat_message {}
    ul.menu ul#chat_messages li.unread { background-color: #FBFFEB;}
    ul.menu ul#chat_messages li.chat_message span.user {font-weight: bold;}
    ul.menu ul#chat_messages li.chat_message span.message {padding: 0 5px; }
    ul.menu ul#chat_messages li.chat_message span.message a {padding: 0; }
    ul.menu ul#chat_messages li.chat_message span.timestamp { color: #c4c4c4; }

    ul.menu li#chat_section textarea {width: 190px; height: 30px; padding: 5px; font-size: 75%; border: 1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 5px 0; }
    

	div#extra { }

	div#footer { clear: both; font-size: 10px; padding: 2px 0; }

/* LG: Layout 34 */
div#container{ width: 960px; margin: 0 auto; }
div#content{ float: left; width: 738px; }
div#sidebar{ float: right; width: 200px; }
div#extra{ float: left; clear: left; width: 180px; }
div#footer{ clear: both; width: 100%; }

/* Form styles */
form, fieldset { margin: 0; padding: 0; font-size: 100%; font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; }

div.form-container { margin: 1em 0; background-color: #FFF; }

p.legend { margin-bottom: 1em; }
p.legend em { color: #C00; font-style: normal; }

div.errors { margin: 0 0 10px 0; padding: 5px 10px; border: #FC6 1px solid; background-color: #FFC; }
div.errors p { margin: 0; }
div.errors p em { color: #C00; font-style: normal; font-weight: bold; }

div.form-container form p { margin: 0; }
div.form-container form p.note { margin-left: 155px; font-size: 90%; color: #666; }
div.form-container form fieldset { margin: 10px 0; padding: 10px; border: #E1E1E1 1px solid; }
div.form-container form legend { font-weight: bold; color: #666; display: none; }
div.form-container form fieldset div { padding: 0.4em 0; }
div.form-container label, 
div.form-container span.label { margin-right: 10px; margin-top: 4px; padding-right: 10px; width: 135px; display: block; float: left; text-align: right; position: relative; }
div.form-container label.error, 
div.form-container span.error { color: #C00; }
div.form-container label em, 
div.form-container span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
div.form-container fieldset input { padding: 6px 5px; border: none; }
div.form-container input.long_input { width: 290px; background: url(../images/long_input_bk.png) no-repeat left center; }
div.form-container input.middle_input { width: 170px; background: url(../images/middle_input_bk.png) no-repeat left center; }
div.form-container input.error { }
div.form-container input:focus,
div.form-container input.error:focus, 
div.form-container textarea:focus {	}
div.form-container textarea { padding: 5px; width: 290px; height: 70px; border: none; background: url(../images/textarea_bk.png) no-repeat left center;	}
div.form-container div.controlset label, 
div.form-container div.controlset input { display: inline; float: none; }
div.form-container div.controlset div { margin-left: 155px; }
div.form-container div.buttonrow { margin-top: 20px; }
p.buttonrow { margin-top: 10px; }

/* Code Editor */
div#codearea {
  min-height: 540px;
  padding: 0 0 0 15px;
  background-color: #E4ECF2; 
}

div#editable_content { width: 100%; margin-top: 25px; padding-top: 5px; background-color: #fff; min-height: 540px; list-style-type:none; font-size: 12px;}
